form 								{ width:100%; }

legend {}
fieldset {}

form ul 							{ list-style:none; margin:0; }
form li 							{ margin-bottom:0.75em; letter-spacing:-4px; }
form li * 							{ letter-spacing:0; }

form label 							{ display: inline-block; width: 60px;  margin: 1px 20px; padding: 0.375em 0; vertical-align: top; }

input[type="submit"],
button, 
.button 							{ margin-right: 0px;  }

.placeholder						{ color: #888; }

input[type="text"],
textarea 							{ border-radius: 5px; border: 1px solid #888;  padding: 0.375em 4px 0.375em 8px; font-size: 12px;  }
textarea 							{ line-height: 1.8em; padding: 0.375em 4px 0.375em 8px; }
input[type="text"] 					{ height: 2.25em; }

select 								{ 
										border-radius: 5px; border: 1px solid #888;  padding: 0.375em 4px 0.375em 8px; font-size: 12px;
										line-height: 1.8em; padding: 0.375em 4px 0.375em 8px; 
										height: 2.25em;
 									}

input[type="radio"]					{ margin: 0.375em 10px 0.75em 0; }

form#contact_form 					{ padding-left: 80px; position:relative; max-width: 620px; }
form#contact_form label 			{ margin-left: -80px; }
form#contact_form label.secondary 	{ margin-left: 0; width: auto; }

input[type="submit"]:focus			{ box-shadow: none;  }
input[type="submit"]:active	 		{ margin-top: 1px; margin-bottom: -1px; }