/*
 *	Generic Styles
 */

	a:link										{ text-decoration: none; }
	a:visited									{ opacity: 0.8; }
	a:hover,
	a:focus,
	a:active									{ text-decoration: underline; }

	::-moz-selection							{ background: rgba(0,0,0,0.25); color:#000; text-shadow: none; }
	::selection 								{ background: rgba(0,0,0,0.25); color:#000; text-shadow: none; }

 	.entry img,
 	.loop-header img,
 	.wp-caption	 								{ border: 1px solid #888; padding: 4px; height: auto; background: #FFF; max-width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; text-align: center; }
 	.wp-caption img								{ border: none; padding: 0; }
 	.wp-caption p								{ margin: 0.375em 0; font-style: italic; color: #888; }

 	object,
	embed,
	video 										{ max-width:100%; height:auto; }

 	.alignleft									{ float: left; clear: left;  margin: 0 30px 1.5em 0; }
  	.alignright									{ float: right; clear: right;  margin: 0 0 1.5em 30px;  }
  	.aligncenter								{ display: block; clear: both; margin: 0 auto 1.5em;  }

  	.info,
  	.updated									{ padding: 0.75em; margin: 0.75em 0; border: 1px solid #E6DB55; background: #FFFBCC; }
  	.success									{ padding: 0.75em; margin: 0.75em 0; border: 1px solid #abd991; background: #dfffcc; }
  	.error										{ padding: 0.75em; margin: 0.75em 0; border: 1px solid #e5a49a; background: #FFEBE8; }

  	.info *:last-child,
  	.updated *:last-child,
  	.success *:last-child,
  	.error *:last-child							{ margin: 0; }

	.clear										{ display: block; clear: both; }

	.clearfix:before,
	.clearfix::after 							{ content:""; display:table; }
	.clearfix::after							{ clear:both; }
	.clearfix 									{ zoom:1; }

 	/* Type */
  	blockquote									{ font-weight: 300; }
  	pre											{ border-top: 1px solid #888; border-bottom: 1px solid #888; padding: 1.5em 15px; margin: 1.5em 0; height: auto; max-width: 100%; box-sizing: border-box; }

	.description								{ font-style: italic; color: #888;  }

	.no-js .hide-no-js 							{ display: none; }

/**
 *	Generic Components
 */

	.linklist									{ margin: 0; list-style: none; }
	.linklist > li								{ border-bottom: 1px solid #888; margin-bottom: -1px; }
	.linklist > li:last-child					{ border-bottom: none; margin-bottom: 0; }
	.linklist > li > a,
	.linklist > li > span							{ display: block;  padding: 0.75em 0; }



	.content-box								{ background: #EEE; padding: 0.75em 15px; }

	nav ul, nav ol,
	.nav ul, .nav ol 							{ list-style: none; margin: 0; }


	/**
	 *	Pagination
	 */

  	.pagination-container						{ text-align: center; margin: 1.5em -5px; padding: 0 15px; }
  	.pagination-container a,
  	.pagination-container span					{ padding: 0.25em 0.5em; margin: 0 5px; min-width: 12px; background: #FFF; color: #666; border: 1px solid #888; display: inline-block; text-decoration: none; text-align: center; }

  	/* Reset for nested spans/links */
  	.pagination-container a span,
  	.pagination-container span a				{ padding: 0; margin: 0; display: inline; min-width: 0; background: transparent; border: none; }

  	.pagination-container > *:first-child,
  	.pagination-container li:first-child a		{ margin-left: 0 !important; }
  	.pagination-container > *:last-child,
  	.pagination-container li:last-child *		{ margin-right: 0; }

	.pagination-container a						{ cursor: pointer; }
  	.pagination-container a:hover				{ background: #FFF; border-color: #333; color: #333;  }

  	.pagination-container .current,
  	.pagination-container .active,
  	.singular-pagination > span 				{ background: #ECECEC; border-color: #AAA; color: #AAA; }

	.pagination-container ul,
	.pagination-container ol 					{ margin: 0; }
	.pagination-container li 					{ list-style: none; display: inline; }

	.pagination-container.right					{ text-align: right; }
	.pagination-container-container.left		{ text-align: left; }

	.ie7 .pagination-container span				{ display: inline; zoom: 1; }

	/* Give class grid to display the elements contained within as a grid - eg galleries */
	.grid 										{ margin: 0 -15px;   /* letter-spacing: -0.25em; Note that this will need adjusting depending on the base font size. do this in the type stylesheet. */ }
	.grid * 									{ letter-spacing: normal; }
	.grid .section-title						{ margin: 0 15px; padding: 0.75em 0 0.75em; border-bottom: 1px solid #888; }
	.grid .section-title *						{ margin: 0; }

/**
 * Gallery
 */

.gallery { clear: both; }
.gallery dl { width: 130px; display: inline-block; vertical-align: top; margin: 0 15px 1.5em; }
.gallery br { display: none; }


/**
 *	General Theme Layout.
 */

	body										{ background: #EEEEEE; }
	.wrap { background: #FFFFFF; }

  	.wrap 										{ width: 960px; padding: 0 15px; margin: 0 auto; }
  	.primary-content		 					{ width: 640px; float: left; }

	.secondary-content 							{ float: right; width: 320px; }

  	.primary-content.no-sidebar					{ width: 100%; float: none; }

  	.primary-content.grid						{ margin-left: 0; margin-right: 0; }
	.primary-content.grid .entry				{ width: 210px; }

	.attachment-thumbnail,
	.size-thumbnail								{ width: 130px; }
	.attachment-small							{ width: 210px; }
	.attachment-medium,
	.size-medium,
	.attachment-medium-crop						{ width: 370px; }
	.size-large,
	.attachment-large							{ width: 610px; }


/**
 *	Main Site Header
 */

	.site-header 								{ margin: 0 15px; padding-top: 1.5em; border-bottom: 1px solid #888;}
	.site-header .site-description				{ margin-bottom: 1.5em; }

	.site-header .menu							{ border-top: 1px solid #888; }
	.site-header .menu ul						{ margin: 0; }
	.site-header .menu li						{ position: relative; display: inline-block; }

	.site-header .menu li a						{ position: relative; display: block; padding: 0.75em 15px; }
	.site-header .menu li:first-child a			{ padding-left: 0; }

	.site-header .sub-menu						{ display: none; position: absolute; width: 130px; top: 100%; background: #FFF; background: rgba(255,255,255,0.95); border: 1px solid #888; z-index: 100; }
	.site-header li:hover>.sub-menu,
	.site-header li:focus>.sub-menu,
	.site-header .sub-menu li					{ display: block; }

	.site-header .menu li:hover > .sub-menu 	{ display: block; }

	.site-header .sub-menu a					{ border-bottom: 1px solid #888; }
	.site-header .sub-menu li:first-child a 	{ padding-left: 15px; }
	.site-header .sub-menu li:last-child a  	{ border: none; }
	.site-header .sub-menu .sub-menu			{ top: -1px; left: 100%;  }

	.ie7 .site-header .menu li					{ display: inline; zoom: 1; }
	.ie7 .site-header .sub-menu li				{ display:list-item; vertical-align: top; margin-left: -16px !important; }


/**
 *	Generic Loop Styling. (Both singlular & archive)
 */


 	/** Entries **/

	.entry										{ margin-left: 15px; margin-right: 15px; padding-top: 1.5em; padding-bottom: 0.75em; border-bottom: 1px solid #888; }
	.entry:last-child							{ border-bottom: none; }

	.entry .entry-title							{ margin: 0 0 .75em; }
	.entry .entry-thumb							{ float: left; margin: 0 30px 0.75em 0; }
	.entry .entry-thumb	a						{ display: block; vertical-align: top;  }
	.entry .entry-thumb img						{ vertical-align: top; }

	.entry.format-image .entry-thumb,
	.entry.format-gallery .entry-thumb 			{ margin-bottom: 1.5em; }

	.entry .entry-meta							{ color: #888; margin: 0.75em 0 0.75em; }
	.entry .entry-meta a 						{ color: inherit; }

	.entry .entry-more-link						{ display: block; margin: .75em 0; }


	.grid										{ margin-top: 0.75em; }
	.grid .entry								{ margin-left: 15px; margin-right: 15px; display: inline-block; vertical-align: top; border: none; padding-top: 0.75em;  }
	.grid .entry img 							{ width: 100%; margin-right: 0; }
	.grid .entry *:last-child					{ margin-bottom: 0; }
 	.grid .entry .wp-post-image					{ width: 100%; }

	.ie7 .grid .entry							{ display: inline; zoom: 1; }

 	/** Singular **/

	.single .entry-header 						{ margin-bottom: 1.5em; }

 	/** Archives **/

	.loop-header 								{ margin-left: 15px; margin-right: 15px; padding-top: 1.5em; padding-bottom: 0.75em; border-bottom: 1px solid #888; }
	.loop-header.has-loop-header-thumb			{ padding-left: 160px; }
	.loop-header-thumb							{ float: left; margin: 0 30px 0.75em -160px; width: 130px; }
	.loop-header-thumb img 						{ width: 100%; }
	.loop-header-title							{ margin-top: 0; }

	.loop-header .contact-methods				{ margin-left: 0; font-size: 0.875em; line-height: 1.5em; font-style: italic; }
	.loop-header .contact-method-name			{ display: inline-block; width: 75px; }

	.loop-no-results							{ margin: 1.5em 15px; }


/**
 *	Sidebar.
 */

	.secondary-content							{ margin: 0; color: #888; }
	.secondary-content aside 					{ padding: 0.75em 0px; margin-left: 15px; margin-right: 15px; }
	.secondary-content aside>*:last-child		{ margin-bottom: 0; }
	.secondary-content .widget-area				{ overflow: auto; clear: both; }
	.secondary-content .widget-area:first-child { padding-top: 1.5em; }
	.secondary-content ul 						{ margin-left: 20px; margin-right: 10px; }


	.secondary-content h1,
	.secondary-content h2,
	.secondary-content h3,
	.secondary-content h4						{ color: #666; }

	.secondary-content table					{ width: 100%; }
	.secondary-content th,
	.secondary-content td						{ padding-left: 6px ; padding-right: 7px ;}

	.secondary-content .content-box				{ margin-left: 15px; margin-right: 15px; padding: 0.75em 15px; }

	#wp-calendar th,
	.widget_calendar th,
	#wp-calendar td,
	.widget_calendar td							{ text-align: center; }

	#wp-calendar a:link,
	.widget_calendar a:link						{ text-decoration: underline; }


/**
 *	Site Footer
 */

	.site-footer								{ color: #999; clear: both; margin: 3em 15px 0; padding: 0.75em 0 2.25em; }
	.site-footer a:link,
	.site-footer a:visited 						{ color: #999; }


/**
 *	Comments
 *
 *	Styling for the default WordPress comments.
 */


	#comments									{ clear: both; padding-top: 0.75em; margin-top: 1.5em; border-top: 1px solid #888; }

	.comments-title								{ border-bottom: 1px solid #888; padding-bottom: 0.5em; margin-bottom: 0; }

	#comments .nocomments						{ margin-top: 1.5em; }

	.commentlist,
	.commentlist .children						{ list-style: none; margin: 0;  }

	.commentlist .comment						{ padding: 1.5em 0 0; border-top: 1px solid #888; clear: both; }
	.commentlist>.comment:first-child			{ border-top: none; }
	.commentlist .comment .comment-info			{ width: 80px; float: left; margin-bottom: 1.5em; }
	.commentlist .comment .comment-body			{ width: 530px; float: right; margin-bottom: 1.5em; }
	.commentlist .comment .comment-header		{ margin-bottom: 0.75em; }
	.commentlist .comment .comment-header cite  { font-weight: bold; }
	.commentlist .comment .comment-meta			{ margin-bottom: 0.75em; }

	.commentlist .comment .avatar				{ width: 50px; height: auto; padding: 3px; float: left; margin: 0 30px 0 0; }
	.commentlist .comment .reply a:link,
	.commentlist .comment .reply a:visited		{ color: #999; text-decoration: none; }

	.commentlist .children 						{ margin-left: 80px; }
	.commentlist .children .comment-body	 	{ width: 450px; }

	.commentlist .children .children .comment-body	{ width: 370px; }

	#respond									{ clear:both; padding-top: 0.75em; border-top: 1px solid #888; margin-bottom: 1.5em; }
	#respond #reply-title						{ border-bottom: 1px solid #888; padding-bottom: 0.444em; margin-bottom: 0.888em; }
	#respond #reply-title small					{ font-size: 1em; line-height: 1.5em; }
	#respond #cancel-comment-reply-link			{ float: right; }

	#comments #respond:first-child				{ padding-top: 0; border-top: none; }

	#commentform .comment-notes,
	#commentform .logged-in-as 					{ margin-bottom: 1.5em; }

	#commentform label							{ width: 50px; margin-right: 30px; float: left; white-space: nowrap; }
	#commentform textarea						{ width: 520px; }
	#commentform #submit						{ margin-left: 80px; }
	.nocomments									{ margin: 0 0 0.5em 0; }

	.children #commentform textarea				{ width: 100%; }
	.children #commentform #submit 				{ margin-left: 0; }

/**
 *	More Specific styling.
 */

	.search-form > div							{ margin-right: 80px; padding: 0 5px; }
	.search-form label							{ display: none; }
	.search-form .search-input					{ display: block; float: left;  width: 100%; margin: 0 -5px;}
	.search-form .search-submit					{ display: block; float: right; width: 70px; margin-right: -85px;   }

	.error404 .entry-content .search-form		{ margin: 1.5em 0; }

	/** Front Page **/

	.hero 										{ padding: 1.5em 0; margin: 0 15px; border-bottom: 1px solid #888; position: relative; }

/**
 *	Smaller Screens
 */

@media all and ( max-width: 1020px ) {

 	/* Adjust the sizes of some images to fit our new grid */
	.attachment-thumbnail,
	.size-thumbnail								{ width: 100px; }
	.attachment-small									{ width: 160px; }
	.attachment-medium,
	.size-medium,
	.attachment-medium-crop						{ width: 220px; }
	.size-large,
	.attachment-large							{ width: 460px; }

 	.alignleft									{ margin-right: 20px; }
  	.alignright									{ margin-left: 20px; }
	pre											{ padding-left: 20px; padding-right: 20px; }

  	.pagination-container						{ padding: 0 10px; }

  	.gallery dl 								{ width: 100px; margin: 0 10px 1.5em; }

	.wrap										{ width: 720px; padding: 0 10px; }
	.primary-content							{ width: 480px; }
	.secondary-content							{ width: 240px; }

	.site-header,
	.entry,
	.grid .entry,
	.hero,
	.loop-header,
	.loop-no-results,
	.secondary-content aside,
	.site-footer								{ margin-left: 10px; margin-right: 10px; }

	.grid 										{ margin: 0 -10px; }
	.grid .section-title						{ margin-left: 10px; margin-right: 10px; }

	.site-header .menu li a						{ padding: 0.75em 10px; }
	.site-header .sub-menu li:first-child a 	{ padding-left: 10px; }

	.entry .entry-thumb							{ margin-right: 20px; }

	.content-box								{ padding-left: 15px; padding-right: 15px;  }

	.secondary-content ul ul					{ margin-left: 20px; }
	.secondary-content .content-box				{ margin-left: 10px; margin-right: 10px; padding: 0.75em 10px; }
	.secondary-content .widget-area:first-child { padding-top: 0.75em; }

	.grid_test									{ margin: 0 10px; }

	/** Specific Changes **/

	.grid .entry						{ width: 220px; }
	.grid .entry img 					{ width: 100%; margin-right: 0; }

	.commentlist .comment .comment-info			{ width: 60px; float: left; margin-bottom: 0.75em; }
	.commentlist .comment .comment-info .avatar { width: 40px; }
	.commentlist .comment .comment-body			{ width: 400px; float: right; }
	.commentlist .children 						{ margin-left: 60px; }
	.commentlist .children .comment-body	 	{ width: 340px; }
	.commentlist .children .children .comment-body	{ width: 280px; }
	#commentform textarea						{ width: 370px; }


	.loop-header.has-loop-header-thumb			{ padding-left: 120px; }
	.loop-header-thumb							{ width: 100px; margin-left: -120px; margin-right: 20px; }

 }


 /**
  *	Below this size, fluid width.
  *
  * Anything less than an ipad.
  */
 @media all and (max-width: 740px) {

	/** No bg on body **/
	body 										{ background: #FFF; }
	.wrap 										{ background: transparent; border: none; }

	.attachment-thumbnail,
	.size-thumbnail,
	.attachment-small									{ width: 34.721875%;  margin-right: 4.166666667%; padding: 1%; }
	.attachment-medium,
	.size-medium,
	.attachment-medium-crop						{ width: 48%; padding: 1%; }

	.gallery dl { width: 29.3333333337%; margin-left: 2%; margin-right: 2%;}
	.gallery dl img { width: 100%; }

	.align-left									{ margin-right: 4%;}
	.align-right								{ margin-left: 4%;}

  	.pagination-container						{ padding: 0 2%; }

 	.wrap 										{ width: 90%; padding: 0;  }
 	.primary-content							{ width: 100%; }

 	.site-header,
 	.hero,
	.loop-header,
	.loop-no-results,
 	.entry	 									{ width: 96%; margin-left: 2%; margin-right: 2%; }

 	.grid .entry								{ width: 29.333%; margin-left: 2%; margin-right: 2%; }

	.entry .entry-thumb							{ width: 48%; margin-right: 4%; }
	.entry .entry-thumb.full					{ width: 100%; margin-right: 0; }
	.entry .entry-thumb img,
	.entry .entry-thumb picture,
	.entry .entry-thumb div[data-picture]		{ width: 100%; }

	.entry.format-image .entry-thumb,
	.entry.format-gallery .entry-thumb 			{ width: 100%; }

	.entry:last-child							{ border-bottom: 1px solid #888; }

	/* Comments */

	/*

		// Calculations

		// Width of children. Gets 1 col smaller each time.
		$w0 = 100;
		$w1 = 96;
		$w2 = (5/6*100-4) / $w1 * 100;
		$w3 = (4/6*100-4) / $w2 * 100 / $w1 * 100;
		$w4 = (3/6*100-4) / $w3 * 100 / $w2 * 100 / $w1 * 100;
		$w5 = (2/6*100-4) / $w4 * 100 / $w3 * 100 / $w2 * 100 / $w1 * 100;

		// margin-left. equivalent to 1 col + 2 * padding as a percentage of context
		$m0 = 16.66667;
		$m1 = $m0 / $w1 * 100;
		$m2 = $m0 / $w1 * 100 / $w2 * 100;
		$m3 = $m0 / $w1 * 100 / $w2 * 100 / $w3 * 100;
		$m4 = $m0 / $w1 * 100 / $w2 * 100 / $w3 * 100 / $w4 * 100;
		$m5 = $m0 / $w1 * 100 / $w2 * 100 / $w3 * 100 / $w4 * 100 / $w5 * 100;

		// margin right. equivalent to 2 * padding as  % of context
		$p0 = 4;
		$p1 = $p0 / $w1 * 100;
		$p2 = $p0 / $w1 * 100 / $w2 * 100;
		$p3 = $p0 / $w1 * 100 / $w2 * 100 / $w3 * 100;
		$p4 = $p0 / $w1 * 100 / $w2 * 100 / $w3 * 100 / $w4 * 100;
		$p5 = $p0 / $w1 * 100 / $w2 * 100 / $w3 * 100 / $w4 * 100 / $w5 * 100;

	*/

	.commentlist .comment .comment-info					{ width: 13.194444444%; /* 12.666666667 / 96 * 100 */ margin-right: 4.166666667%; /* 4 / 96 * 100 */ }
	.commentlist .comment .comment-info .avatar			{ width: 100%; }
	.commentlist .comment .comment-body					{ width: 82.638888889%; /* 79.333333333 / 96 * 100 */ }

	.commentlist .children 								{ margin-left: 17.361111111%; /* 16.66666666667 / 96 * 100 */ }
	.commentlist .children .comment-info				{ width: 15.966386554%; /* (1/6*100-4) / 96 * 100 / ( (5/6*100-4) / 96 * 100 ) * 100  */ margin-right: 5.042016807%; /* 4 / ( (5/6*100-4) / 96 * 100 ) * 100 / 96 * 100 */ }
	.commentlist .children .comment-body	 			{ width: 78.991596639%; /* (4/6*100-4) / 96 * 100 / ( (5/6*100-4) / 96 * 100 ) * 100 */ }

	.commentlist .children .children 					{ margin-left: 21.008403361%; }
	.commentlist .children .children .comment-info		{ width: 20.212765958%; margin-right: 6.382978723%; }
	.commentlist .children .children .comment-body	 	{ width: 73.404255319%; }


	/* A little hacky way to get 100% width with fixed padding */
	#respond .comment-form-author,
	#respond .comment-form-email,
	#respond .comment-form-url,
	#respond .comment-form-comment 				{ padding-left: 5px; padding-right: 5px; }
	#respond label,
	#respond input,
	#respond textarea 							{ margin-left: -5px; margin-right: -5px; width: 100%; }

	#respond #submit							{ width: auto; margin-left: 0; }

	/* Sidebar */
  	.secondary-content							{ width: 100%; }
  	.secondary-content aside					{ width: 46%;  margin-left: 2%; margin-right: 2%; float: left; }
	.secondary-content .content-box				{ width: 42%; margin-left: 2%; margin-right: 2%; padding-left: 2%; padding-right: 2%; }

	.loop-header.has-loop-header-thumb			{ padding-left: 33.3333%; width: auto; }
	.loop-header-thumb							{ width: 47%; margin-left: -53%;  margin-right: 6%; }

	/* Small adjustment to the admin bar to fit more on */
	#wpadminbar *										{ font-size: 10px !important; font-family: Verdana, sans-serif !important; }
	#wpadminbar #wp-admin-bar-my-account				{ width: 36px; }
	#wpadminbar #wp-admin-bar-my-account > a			{ text-indent: -99999px; }
	#wpadminbar #wp-admin-bar-my-account > a > img 		{ position: absolute; top: 8px; left: 10px; margin-left: 0 !important; }

 }

/**
 *	Adjustments for very small screens.
 */
@media all and (max-width: 480px) {

	.wrap 										{ width: 95%; min-width:0; margin: auto; }

	.attachment-thumbnail,
	.size-thumbnail,
	.attachment-small									{ width: 48%; margin-right: 4%; padding: 1%; }
	.attachment-medium,
	.size-medium,
	.attachment-medium-crop						{ width: 100%;  margin-left: auto; margin-right: auto; float: none; display: block; }

 	.grid .entry								{ width: 46%; margin-left: 2%; margin-right: 2%; }

 	.secondary-content 							{ width: 100%; margin-left: 0%; margin-right: 0%; }
 	.secondary-content aside 					{ width: 96%;}

}


