/*
 *	Generic Styles
 */

	a:link										{ text-decoration: none; }
	a:visited									{ opacity: 0.8; }
	a:hover,
	a:focus,
	a:active									{ text-decoration: underline; }

	::-moz-selection							{ background: rgba(0,0,0,0.25); color:#000; text-shadow: none; }
	::selection 								{ background: rgba(0,0,0,0.25); color:#000; text-shadow: none; }
	a:link 										{ -webkit-tap-highlight-color: rgba(0,0,0,0.25) ; }

 	article	img,
 	.wp-caption	 								{ border: 1px solid #888; padding: 4px; height: auto; background: #FFF; max-width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; text-align: center; }
 	.wp-caption img								{ border: none; padding: 0; }
 	.wp-caption p								{ margin: 0.375em 0; font-style: italic; color: #888; }

 	object,
	embed,
	video 										{ max-width:100%; height:auto; }

 	.alignleft									{ float: left; clear: left;  margin: 0 30px 1.5em 0; }
  	.alignright									{ float: right; clear: right;  margin: 0 0 1.5em 30px;  }
  	.aligncenter								{ display: block; clear: both; margin: 0 auto 1.5em;  }

  	.info,
  	.updated									{ padding: 0.75em; margin: 0.75em 0; border: 1px solid #E6DB55; background: #FFFBCC; }
  	.success									{ padding: 0.75em; margin: 0.75em 0; border: 1px solid #abd991; background: #dfffcc; }
  	.error										{ padding: 0.75em; margin: 0.75em 0; border: 1px solid #e5a49a; background: #FFEBE8; }

  	.info *:last-child,
  	.updated *:last-child,
  	.success *:last-child,
  	.error *:last-child							{ margin: 0; }

	.clear										{ display: block; clear: both; }

 	/* Type */
  	blockquote									{ font-weight: 300; }
  	pre											{ border: 1px solid #888; padding: 30px 1.5em; height: auto; background: #FFF; max-width: 100%; box-sizing: border-box; }

	.description								{ font-style: italic; color: #888;  }

	.no-js .hide-no-js 							{ display: none; }


/**
 *	Generic Components
 */

	.linklist									{ margin: 0; list-style: none; }
	.linklist li								{ border-bottom: 1px solid #888; margin-bottom: -1px; }
	.linklist li a								{ display: block;  padding: 0.75em 0; }

	.content-box								{ background: #EEE; padding: 0.75em 15px; }

	nav ul, nav ol,
	.nav ul, .nav ol 							{ list-style: none; margin: 0; }


	/**
	 *	Pagination
	 */

  	.pagination									{ text-align: center; margin: 1.5em 0; }
  	.pagination a,
  	.pagination span							{ padding: 0.25em 0.5em; margin: 0 5px; min-width: 12px; background: #FFF; color: #666; border: 1px solid #888; display: inline-block; text-decoration: none; text-align: center; }

  	.pagination > *:first-child,
  	.pagination li:first-child a				{ margin-left: 0 !important; }
  	.pagination > *:last-child,
  	.pagination li:last-child *					{ margin-right: 0; }

	.pagination a								{ cursor: pointer; }
  	.pagination a:hover							{ background: #FFF; border-color: #333; color: #333;  }

  	.pagination .current,
  	.pagination .active							{ background: #ECECEC; border-color: #AAA; color: #AAA; }

	.pagination ul,
	.pagination ol 								{ margin: 0; }
	.pagination li 								{ list-style: none; display: inline; }

	.pagination.right							{ text-align: right; }
	.pagination.left							{ text-align: left; }


	/* Give class grid to display the elements contained within as a grid - eg galleries */
	.grid 										{ margin: 0 -15px;   /* letter-spacing: -0.25em; Note that this will need adjusting depending on the base font size. do this in the type stylesheet. */ }
	.grid * 									{ letter-spacing: normal; }
	.grid .section-title						{ margin: 0 15px; padding: 0.75em 0 0.75em; border-bottom: 1px solid #888; }
	.grid .section-title *						{ margin: 0; }


/**
 *	Grid
 */

 	/* Helper styles for demonstrating the grid */
	.grid_test									{ margin: 0 15px; }
	.grid_test .grid							{ clear: both; }
	.grid_test article							{ padding: 0.75em 0; margin-bottom: 0.75em; margin-top: 0.75em; background: rgba(0,0,0,0.1); border: none; text-align: center;  }


/*
 *	General Layout Styles
 */

	body										{ background: #EEEEEE; }

	.wrap { background: #FFFFFF; }

  	.wrap 										{ width: 960px; padding: 0 15px; margin: 0 auto; }
  	.primary-content		 					{ width: 720px; float: left; }

	.primary-content.grid						{ margin-left: 0; }


	img.attachment-mtf_small,
	img.size-thumbnail							{ width: 210px; }
	img.size-medium,
	img.attachment-mtf_medium,
	img.attachment-mtf_medium_crop				{ width: 370px; }

/**
 *	Main Site Header
 */

	.site-header 								{ margin: 0 15px; padding-top: 1.5em; border-bottom: 1px solid #888;}
	.site-header .site-description				{ margin-bottom: 1.5em; }

	.site-header .menu							{ border-top: 1px solid #888; }
	.site-header .menu ul						{ margin: 0; }
	.site-header .menu li						{ position: relative; display: inline-block; }

	.site-header .menu li a						{ position: relative; display: block; padding: 0.75em 15px; }
	.site-header .menu li:first-child a			{ padding-left: 0; }

	.site-header .sub-menu						{ display: none; position: absolute; width: 140px; top: 100%; background: rgba(255,255,255,0.95); border: 1px solid #888; z-index: 100; }
	.site-header li:hover>.sub-menu,
	.site-header li:focus>.sub-menu,
	.site-header .sub-menu li					{ display: block; }

	.js .site-header #menu-main li:hover > .sub-menu { display: none; }

	.site-header .sub-menu a					{ border-bottom: 1px solid #888; }
	.site-header .sub-menu li:first-child a     { padding-left: 15px; }
	.site-header .sub-menu li:last-child a      { border: none; }
	.site-header .sub-menu .sub-menu            { top: -1px; left: 100%;  }

	.hero 										{ padding: 1.5em 0; margin: 0 15px; border-bottom: 1px solid #888; position: relative; }

/**
 *	Generic Article Styling
 */

	article										{ margin-left: 15px; margin-right: 15px; padding-top: 1.5em; padding-bottom: 0.75em; border-bottom: 1px solid #888; }
	article:last-child							{ border-bottom: none; }

	article .post-title							{ margin-top: 0; }
	article .wp-post-image						{ float: left; margin: 0 30px 0.75em 0; }
	article .post-meta							{ clear: both; color: #777; margin: 0.75em 0 0.75em; }

	.posts.grid article							{ width: 210px; margin-left: 15px; margin-right: 15px; display: inline-block; vertical-align: top; border: none; }

/**
 *	Sidebar.
 */

	.secondary-content							{ float: right; width: 240px; margin: 0; color: #888; }
	.secondary-content aside 					{ padding: 0.75em 0px; margin-left: 15px; margin-right: 15px; }
	.secondary-content .widget-area				{ overflow: auto; clear: both; }
	.secondary-content .widget-area:first-child { padding-top: 1.5em; }
	.secondary-content ul 						{ margin-left: 0; }
	.secondary-content ul ul					{ margin-left: 30px; }

	
	.secondary-content aside>*:last-child		{ margin-bottom: 0; }
	.secondary-content h1,
	.secondary-content h2,
	.secondary-content h3,
	.secondary-content h4						{ color: #666; }

	.secondary-content a:link,
	.secondary-content a:visited				{ color: #888; text-decoration: none; }

	.secondary-content table					{ width: 100%; }
	.secondary-content th,
	.secondary-content td						{ padding-left: 6px ; padding-right: 7px ;}

	.secondary-content .content-box				{ margin-left: 15px; margin-right: 15px; padding: 0.75em 15px; }

	#wp-calendar th,
	.widget_calendar th,
	#wp-calendar td,
	.widget_calendar td							{ text-align: center; }

	#wp-calendar a:link,
	.widget_calendar a:link						{ text-decoration: underline; }


/**
 *	Site Footer
 */

	.site-footer								{ color: #999; clear: both; margin: 3em 15px 0; padding: 0.75em 0 2.25em; }
	.site-footer a:link,
	.site-footer a:visited 						{ color: #999; }


/**
 *	Comments
 *
 *	Styling for the default WordPress comments.
 */

	.comments									{ clear: both; padding-top: 0.75em; margin-top: 1.5em; border-top: 1px solid #888; }

	.commentlist,
	.commentlist .children						{ list-style: none; margin: 0;  }

	.comment									{ padding: 1.5em 0 0; border-top: 1px solid #888; clear: both; overflow: auto; }
	.comment .comment-info						{ width: 140px; float: left; margin-bottom: 0.75em; }
	.comment .comment-body						{ width: 300px; float: right; padding-bottom: 1.5em; }

	.comment .avatar							{ height: 62px; width: 62px; padding: 3px; float: left; margin: 0 30px 0 0; }
	.comment .reply a:link,
	.comment .reply a:visited					{ color: #999; text-decoration: none; }

	.children .comment							{ padding: 0; border: none; }
	.children .comment-body						{ border-top: 1px solid #888; padding-top: 1.5em; }
	.children .comment-info						{ text-align: right; padding: 1.5em 0 0; }
	.children .avatar							{ float: right; margin: 0 0 0 30px; }

	#respond									{ clear:both; padding-top: 1.5em; border-top: 1px solid #888; }
	#commentform label							{ width: 140px; }
	.nocomments									{ margin: 0 0 0.5em 0; }



/*
 *	More specific styling
 */



/**
  *		## Media Queries ##
  */


/**
  *	Large Screens
  */
 @media all and ( max-width: 1020px ) {

 	/* Adjust the sizes of some images to fit our new grid */

	img.attachment-mtf_small,
	img.size-thumbnail							{ width: 140px; }
	img.size-medium,
	img.attachment-mtf_medium,
	img.attachment-mtf_medium_crop				{ width: 220px; }

 	.alignleft									{ margin-right: 20px; }
  	.alignright									{ margin-right: 20px; }
	pre											{ padding-left: 20px; padding-right: 20px; }

	.wrap								{ width: 720px; padding: 0 10px; }
	.primary-content					{ width: 480px; float: left;  }
	
	.site-header,
	article,
	.posts.grid article,
	.hero,
	.secondary-content aside,
	.site-footer						{ margin-left: 10px; margin-right: 10px; }
	
	.grid 										{ margin: 0 -15px; }
	.grid .section-title						{ margin-left: 10px; margin-right: 10px; }

	.site-header .menu li a						{ padding: 0.75em 10px; }
	.site-header .sub-menu li:first-child a     { padding-left: 10px; }

	article .wp-post-image						{ margin-right: 20px; }
	
	.content-box								{ padding-left: 15px; padding-right: 15px;  }

	.secondary-content ul ul					{ margin-left: 20px; }	
	.secondary-content .content-box				{ margin-left: 10px; margin-right: 10px; padding: 0.75em 10px; }
	.secondary-content .widget-area:first-child { padding-top: 0.75em; }
	
	.grid_test									{ margin: 0 10px; }
	
	/** Specific Changes **/
	.posts.grid article							{ width: 220px; }
	.posts.grid article img 					{ width: 100%; margin-right: 0; }
	
 	.comment .comment-info				{ width: 220px; }
	.comment .comment-body				{ width: 460px; float: right; }
	.children .avatar					{ margin-left: 20px; }
	.comment .avatar					{ margin-right: 20px; }
	
 }


 /**
  *	Below this size, fluid width.
  *
  * Anything less than an ipad.
  */
 @media all and (max-width: 740px) {

	/* Adjust the sizes of some images to fit our new grid */
	img.attachment-mtf_small,
	img.size-thumbnail					{ width: 48%; margin-right: 4%; padding: 1%; }
	img.size-medium,
	img.attachment-mtf_medium,
	img.attachment-mtf_medium_crop		{ width: 48%; padding: 1%; }

	.align-left							{ margin-right: 4%;}
	.align-right						{ margin-left: 4%;}


	/**
	 *	More specific layout adjustments
	 */

	body 								{ background: #FFF; }
	.wrap 								{ background: transparent; border: none; }

 	.wrap 								{ width: 90%; padding: 0;  }
 	.primary-content					{ width: 100%; }

 	.site-header,
 	.hero,
 	article 							{ width: 96%; margin-left: 2%; margin-right: 2%; }


 	.posts.grid article					{ width: 29.333%; margin-left: 2%; margin-right: 2%; }
 		
 	
 	.grid .wp-post-image				{ width: 100%; }

	.secondary-content .content-box		{ width: 42%; margin-left: 2%; margin-right: 2%; padding-left: 2%; padding-right: 2%; }

 	.comment .comment-info				{ width: auto; margin-left: 80px; float: none; }
 	.comment .comment-body				{ width: auto; margin-left: 80px; float: none; }
 	.comment .comment-info .avatar 		{ margin-left: -80px; }

 	.children .comment					{ padding: 0; border: none; }
	.children .comment-body				{ border-top: none; padding-top: 0; }
	.children .comment-info				{ text-align: left; padding: 1.5em 0 0; border-top: 1px solid #888; }
	.children .avatar					{ float: left; margin: 0 8% 0.75em 0; }

  	.secondary-content					{ width: 100%; }
  	.secondary-content aside			{ width: 46%;  margin-left: 2%; margin-right: 2%; float: left; }

	#wpadminbar *						{ font-size: 10px !important; font-family: Verdana, sans-serif !important; }

	#wpadminbar #wp-admin-bar-my-account				{ width: 36px; }
	#wpadminbar #wp-admin-bar-my-account > a			{ text-indent: -99999px; }
	#wpadminbar #wp-admin-bar-my-account > a > img 		{ position: absolute; top: 8px; left: 10px; margin-left: 0 !important; }

 }

/**
 *	Adjustments for very small screens.
 */
@media all and (max-width: 480px) {

	.wrap 								{ width: 95%; min-width:0; margin: auto; }

	img.attachment-mtf_small,
	img.size-thumbnail					{}
	img.size-medium,
	img.attachment-mtf_medium,
	img.attachment-mtf_medium_crop		{ width: 100%;  margin-left: auto; margin-right: auto; float: none; display: block; }

 	.posts.grid article					{ width: 46%; margin-left: 2%; margin-right: 2%; }

 	.secondary-content 					{ width: 100%; margin-left: 0%; margin-right: 0%; }

 	/*.grid article,*/
 	.secondary-content aside 			{ width: 96%;}

 }
