/**
 *
 *	type.css
 *
 *	Default text size: 14px
 *	Line-Height: 21px;
 *
 */

body 					{ font-size: 0.875em; line-height: 1.5em; font-family: "HelveticaNeue","Helvetica Neue", arial, sans-serif; font-weight: 400; color: #444; }

p						{ margin-bottom: 0.75em; }

ul,
ol,
dl,
address 				{ margin: 0 30px 0.75em 30px; }

li ul					{ margin: 0 0 0 15px; }

dl						{ margin-bottom: 0; }
dd						{ margin-bottom: 0.75em; }

h1, h2, h3,
h4, h5, h6 				{ color: #333; }
h1						{ font-size: 2.5em;		line-height:1.2em; 		margin: 0.6em 0 0.3em;}
h2						{ font-size: 2em;		line-height:1.125em; 	margin: 0.5625em 0 0.5625em; }
h3						{ font-size: 1.5em;		line-height:1.5em;		margin: 0.888em 0 0.444em; }
h4						{ font-size: 1.25em;	line-height:1.6em;		margin: 1.2em 0 0.4em; }
h5, h6					{ font-size: 1em; 		line-height:1.5em; 		margin: 1em 0 0.5em; }

/** Articles should have smaller headings **/
article h1,
article h2				{ font-size: 2em;		line-height:1.125em; 	margin: 0.5625em 0 0.5625em; }

.secondary-content				{ font-size: .857em; 	line-height: 1.75em; 	color: #666;  }

.secondary-content h1,
.secondary-content h2,
.secondary-content h3			{ font-size: 1.5em;		line-height:1.5em;		margin: 0.888em 0 0.444em; }
.secondary-content h4			{ font-size: 1em;		margin: 1em 0 0.5em; }

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child			{ margin-top: 0 !important; }

strong,
b						{ font-weight: bold; }
em						{ font-style: italic;}

blockquote				{ font-size: 1.25em;		line-height:1.6em;		margin: 0 30px 0.8em 15px;   padding-left: 14px; 	border-left: 1px solid #666;	font-style: italic;  }

pre, code, kbd, samp 	{ font-family: monospace, sans-serif; }
pre 					{ padding: 1.5em 20px; margin-bottom: 0.75em; white-space: pre; /* CSS2 */ white-space: pre-wrap; /* CSS 2.1 */ white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */ word-wrap: break-word; /* IE */ }

ins 					{ background-color: #ff9; color: #000; text-decoration:none; }
mark 					{ background-color: #ff9; color: #000; font-style:italic; font-weight:bold; }
del 					{ text-decoration: line-through; }
abbr[title],
dfn[title] 				{ border-bottom:1px dotted; cursor:help; }

/**
 * Tables
 */

table					{ border-collapse: separate; border: 1px solid #CCC; position: relative; margin:9px 0 17px; width: 100%; border-radius: 3px; }
th, td					{ line-height: 1.5em; padding: 0.308em 14px 0.308em 10px; text-align:left; }
td .num,
td .num 				{ text-align:center; }

table tbody th,
table td 				{ border-top: 1px solid #CCC; vertical-align: top; }
table th + th,
td + td,
th + td 				{ border-left: 1px solid #CCC; }

table tr:first-child td { border-top: none; }

tr:first-child td:first-child { border-radius: 3px 0 0 0; }
tr:first-child td:last-child { border-radius: 0 3px 0 0; }

tr:last-child td:first-child { border-radius: 0 0 3px 0; }
tr:last-child td:last-child { border-radius: 0 0 0 3px; }

tr:nth-child(even) td	{ background: #FFF; }
tr:nth-child(odd) td	{ background: #EEEEEE; }
th 						{ background: #CCC; }
caption					{ padding: 0.75em 0; font-weight: bold; }


site-footer					{ font-size: .857em; 	line-height: 1.75em; 	color: #666;  }