/**
 *
 *	type.css
 *
 *	Default text size: 12px
 *	Line-Height: 18px;
 *
 */

body 					{ font-size: 0.75em; line-height: 1.5em; font-family: 'HelveticaNeue', Helvetica, arial, sans-serif; color: #444; }

p						{ margin-bottom: 0.75em; }

ul,
ol,
dl,
address					{ margin: 0 20px 0.75em 20px; list-style-position: inside; }

li ul					{ margin: 0 0 0 10px; }

dl						{ margin-bottom: 0; }
dd						{ margin-bottom: 0.75em; }

h1, h2, h3,
h4, h5, h6 				{ color: #333; font-weight: bold; }
h1, .alpha				{ font-size: 2.333em;	line-height:1.286em; 	margin: 0.643em 0 0.3215em; }
h2, .beta				{ font-size: 1.833em;	line-height:1.227em; 	margin: 0.818em 0 0.409em; }
h3,	.gamma				{ font-size: 1.5em;		line-height:1.5em;		margin: 1em 0 0.5em; }
h4, .delta				{ font-size: 1.25em;	line-height:1.2em; 		margin: 1.2em 0 0.6em; }
h5, .epsilon,
h6, .zeta				{ font-size: 1em; 		line-height:1.5em; 		margin: 1em 0 0.5em; }

/** Articles should have smaller headings **/
article h1,
article h2				{ font-size: 1.833em;	line-height:1.227em; 	margin: 0.818em 0 0.409em; }

/** Secondary Content should be a little bit smaller */
.secondary-content h1,
.secondary-content h2,
.secondary-content h3			{ font-size: 1.5em;		line-height:1.5em;		margin: 0 0 0.5em; }
.secondary-content h4			{ font-size: 1em;		margin: 1em 0 0.5em; }

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child			{ margin-top: 0; }

strong,
b,
th,
dt						{ font-weight: bold; }
em						{ font-style: italic;}

blockquote				{ font-size: 1.5em;		line-height:1.5em;		margin: 0.5em 20px 0.5em;   padding-left: 19px; 	border-left: 1px solid #666;	font-style: italic;  }

pre, code, kbd, samp 	{ font-family: monospace, sans-serif; }
pre 					{ padding: 1.5em 20px; margin-bottom: 0.75em; white-space: pre; /* CSS2 */ white-space: pre-wrap; /* CSS 2.1 */ white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */ word-wrap: break-word; /* IE */ }

ins 					{ background-color: #ff9; color: #000; text-decoration:none; }
mark 					{ background-color: #ff9; color: #000; font-style:italic; font-weight:bold; }
del 					{ text-decoration: line-through; }
abbr[title],
dfn[title] 				{ border-bottom:1px dotted; cursor:help; }


/**
 * Tables
 */

table					{ border-collapse: collapse; border: 1px solid #888; position: relative; margin:0 0 1.5em; width: 100%; }
th, td					{ border: solid 1px #888; line-height: 1.5em; padding: 0.308em 9px 0.308em 10px; text-align:left; }
td .num,
td .num 				{ text-align:center; }


tr:nth-child(even) td	{ background: #FFF; }
tr:nth-child(odd) td	{ background: #EEE; }
th 						{ background: #CCC; }
caption					{ padding-bottom: 0.75em; font-weight: bold; }


/**
 *	Forms
 */
form li					{ list-style: none; }