.widget_mtf_about_user_widget {

	.avatar {

		$expression: ".5 * ( 100% + #{$grid-col-gutter * 2}rem ) - #{$grid-col-gutter * 2}rem";
		@include calc( width, $expression, 50% );

		float: left;
		margin-right: #{$grid-col-gutter * 2 }rem;
		margin-bottom: .75em;
		height: auto;
	}

}