
.wp-caption {

	@extend img;

	border: 1px solid $border-color-lt;
	background: $bg-color-body;
	padding: #{$base-line-height/2}rem;
	text-align: center;

	img {
		top: 0;
		margin-bottom: 0;
	}

	&.alignleft {
		@extend img.alignleft;
	}

	&.alignright {
		@extend img.alignright;
	}

	.wp-caption-text {
		@extend small;
		margin-top: #{$base-line-height/2}rem;
	}

}