.entry {

	@include clearfix;

	border-bottom: 1px solid $border-color-lt;
	padding-bottom: #{ $base-line-height / 2 }rem;
	margin-bottom: #{ $base-line-height / 2 }rem;

	&:first-child {
		padding-top: 0;
	}

	&:last-child {
		border-bottom: none;
	}

	.entry-header {
		margin-bottom: #{ $base-line-height / 2 }rem;
	}

	.entry-title {

		@include gamma;
		margin: 0 0 #{ $base-line-height / 2}rem 0;

		.genericon {
			height: 1em;
			width: 1em;
			margin-right: #{ $grid-col-gutter / 4 }rem;
			font-size: 1.5em;
			vertical-align: middle;
			line-height: 1;
			position: relative;
			top: -2px;
			text-align: center;

			&.genericon-link { font-weight: bold; }
			&.genericon-image { font-size: 1.2em; line-height: 1.25; height: 1.25em; top: -3px; }
		}

	}

	.entry-meta,
	.entry-taxonomies {
	 	color: #999;
		small {
			color: inherit;
		}
		a {
			text-decoration: none;
			color: inherit;
		}
	}

	.entry-thumb {

		@extend img.size-thumbnail;
		@extend img.alignleft;

		margin-bottom: #{ 1.5 }rem;

		// This stuff is here because we can't extend nested selectors.
		$width: 3 / 8;
		$expression: "#{$width} * ( 100% + #{ $grid-col-gutter * 2}rem ) - #{ $grid-col-gutter * 2}rem";
		@include calc( width, $expression, $width*100% );

		@media all and ( max-width: 700px ) {
			$expression: "1/3 * ( 100% + #{ $grid-col-gutter * 2}rem ) - #{ $grid-col-gutter * 2}rem";
			@include calc( width, $expression, 33.333% );
		}

		@media all and ( max-width: 500px ) {
			$expression: "1/2 * ( 100% + #{ $grid-col-gutter * 2}rem ) - #{ $grid-col-gutter * 2}rem";
			@include calc( width, $expression, 50% );
		}

		img {
			max-width: 100%;
			height: auto;
			width: 100%;
			margin: 0;
			position: relative;
			top: #{ $base-line-height / 4 }rem;
		}

		// e.g. on attachment pages.
		&.full {
			width: 100%;
			margin-right: 0;
		}

	}

	&.format-image .entry-thumb,
	&.format-gallery .entry-thumb,
	&.format-video .entry-thumb {

		@extend img.size-large;
		@extend img.aligncenter;

		iframe, object {
			vertical-align: top;
			width: 100%;
		}
	}

	&.format-quote blockquote:first-child {
		margin-top: 0;
	}

	.entry-post-format {

 		@include clearfix;

 		img {
			vertical-align: top;
			margin-bottom: 0;
		}

		iframe {
			width: 100%;
		}

		.flexslider {
			margin-bottom:  #{ $base-line-height / -2 }rem;
		}

		margin-bottom:  #{ $base-line-height }rem;

	}

	.entry-more-link {
		display: block;
		margin: #{ $base-line-height / 2}rem 0;
	}

	.entry-taxonomy-terms {

		@include small;
		color: $border-color-dk;
		clear: both;

		a {
			color: inherit;
		}
	}

}

.entries + .pagination-container {
	border-top: 1px solid $border-color-lt;
}

.entries-header {

	border-bottom: 1px solid $border-color-lt;
	margin-bottom: #{ $base-line-height }rem;
	padding-bottom: #{ $base-line-height / 2 }rem;

}

.entries-header + .entries .entry-title {
	@include gamma;
}
