
.menu {

	@include small;
	@include clearfix;
	margin: 0;
	padding: 0;

	ul {
		margin: 0;
		padding: 0;
	}

	li {
		position: relative;
		float: left;
		list-style: none;
	}

	a {

		position: relative;
		display: block;
		border: 1px solid transparent;
		padding: px( $base-line-height / 2 ) 15px;
		padding: rem( $base-line-height / 2 ) 15px;
		text-decoration: none;
		color: inherit;
		margin: -1px -1px -1px 0;

		&:link,
		&:visited {
			text-decoration: none;
			color: inherit;
		}

	}

	> li:first-child > a {
		border-left-color: transparent;
	}

	li > a:hover,
	li:hover > a {
		background: $border-color-lt;
		border-color: $border-color-dk;
		position: relative;
		z-index:5;
	}

	.sub-menu {

		display: none;
		position: absolute;
		width: 280px;
		top: 100%;
		z-index: 3;

		background: #FFF;
		background: rgba(255,255,255,0.95);

		li {
			display: block;
			width: 100%;
		}

		a {
			border: 1px solid $border-color-lt;
			margin: 0 0 -1px 0;
			padding-left: 15px;
		}

		a:hover {
			background-color: $border-color-lt;
			border-color: $border-color-dk;
		}

		.sub-menu {
			top: -1px;
			left: 100%;
		}

	}

	li:hover > .sub-menu,
	li:focus > .sub-menu {
		display: block;
	}

}