
.search-form {

	@include clearfix;

	padding: px( $base-line-height / 2 ) 0;
	padding: rem( $base-line-height / 2 ) 0;

	margin-bottom: px( $base-line-height / 2 );
	margin-bottom: rem( $base-line-height / 2 );

	> div {
		margin-right: 100px;
		padding: 0 5px;
	}

	.search-input {
		display: block;
		float: left;
		width: 100%;
		margin: 0 -5px;
	}

	.search-submit {
		display: block;
		float: right;
		width: 90px;
		margin-right: -105px;
		margin-bottom: 0;
	}

	label {
		display: none;
	}

}
