.site-header {

	padding-top: px( $base-line-height );
	padding-top: rem( $base-line-height );

	margin-bottom: px( $base-line-height );
	margin-bottom: rem( $base-line-height );

	border-bottom: 1px solid $border-color-lt;
	
	.site-description {
		margin-bottom: px( $base-line-height );
		margin-bottom: rem( $base-line-height );
	}

}