.widget_mtf_about_user_widget {

	.avatar {

		$expression: ".5 * ( 100% + #{rem( $grid-col-gutter * 2)} ) - #{rem( $grid-col-gutter * 2)}";
		@include calc( width, $expression, 50% );

		float: left;
		margin-right: px( $grid-col-gutter * 2 );
		margin-right: rem( $grid-col-gutter * 2 );
		margin-bottom: .75em;
		height: auto;
	}

}