$bg-color-body: #F5F5F5;
$bg-color-wrap: #FFF;

$base-font-size: 1; // REM
$base-line-height: 1.5; // REM
$base-font-family: "Helvetica Neue", "helvetica", 'arial', sans-serif;

$secondary-font-size: .875; // REM

$grid-col-count: 12; // Count
$grid-col-gutter: 1; // REM
$grid-col-gutter-narrow: $grid-col-gutter;

$border-color-lt: #EEE;
$border-color-dk: #888;
$border-color-md: #AAA;

@import "compass/css3";

@import "global/_reset.scss";
@import "global/_mixins.scss";
@import "global/_helpers.scss";
@import "global/_type.scss";
@import "global/_grid.scss";
@import "global/_forms.scss";
@import "global/_buttons.scss";
@import "global/_linklist.scss";
@import "global/_images.scss";
@import "global/_dividers.scss";
@import "global/_alerts.scss";

@import "modules/_pagination.scss";
@import "modules/_search-form.scss";
@import "modules/_widget-about-author.scss";
@import "modules/_flexslider.scss";
@import "modules/_site-header.scss";
@import "modules/_site-footer.scss";
@import "modules/_menus.scss";
@import "modules/_entries.scss";
@import "modules/_entries-grid.scss";
@import "modules/_comments.scss";
@import "modules/_gallery.scss";
@import "modules/_wp-caption.scss";

@import "general.scss";


// Search rem\(\s?([^\)]*)\s?\)
// Replace #{$1}rem