.img,
img {

	max-width: 100%;
	height: auto;
	margin-bottom: #{$base-line-height/2}rem;
	vertical-align: middle;

	&.aligncenter {
		clear: both;
		float: none;
		margin-left: auto;
		margin-right: auto;
	}

	&.alignleft {
		float: left;
		margin-right: #{$grid-col-gutter * 2 }rem;
	}

	&.alignright {
		float: right;
		margin-left: #{$grid-col-gutter * 2 }rem;
	}

	&.size-thumbnail,
	&.attachment-thumbnail {
		width: 240px;
	}

	&.size-medium,
	&.attachment-medium {
		width: 420px;
	}

	&.size-large,
	&.attachment-large {
		width: 700px;
	}

}

// Width of image sizes in columns.
$thumbnail: 3;
$medium: 5;
$large: 8;

// Generate image sizes - in calc relative to the column size.
@for $i from 1 through 12 {

	.grid-#{$i} img,
	.grid-#{$i} .img {

		&.size-large,
		&.attachment-large {
			@if $large >= $i {
				width: 100%;
			} @else {
				$width: $large / $i;
				$expression: "#{$width} * ( 100% + #{$grid-col-gutter * 2}rem ) - #{$grid-col-gutter * 2}rem";
				@include calc( width, $expression, $width*100% );
			}

			@media all and ( max-width: 700px ) {
				width: 100%;
			}

		}

		&.size-medium,
		&.attachment-medium {

			@if $medium >= $i {
				width: 100%;
			} @else {
				$width: $medium / $i;
				$expression: "#{$width} * ( 100% + #{$grid-col-gutter * 2}rem ) - #{$grid-col-gutter * 2}rem";
				@include calc( width, $expression, $width*100% );
			}

			@media all and ( max-width: 700px ) {
				$expression: "1/2 * ( 100% + #{$grid-col-gutter * 2}rem ) - #{$grid-col-gutter * 2}rem";
				@include calc( width, $expression, 50% );
			}

			@media all and ( max-width: 500px ) {
				width: 100%;
			}

		}

		&.size-thumbnail,
		&.attachment-thumbnail {
			@if $thumbnail >= $i {
				width: 100%;
			} @else {
				$width: $thumbnail / $i;
				$expression: "#{$width} * ( 100% + #{$grid-col-gutter * 2}rem ) - #{$grid-col-gutter * 2}rem";
				@include calc( width, $expression, $width * 100% );
			}

			@media all and ( max-width: 700px ) {
				$expression: "1/3 * ( 100% + #{$grid-col-gutter * 2}rem ) - #{$grid-col-gutter * 2}rem";
				@include calc( width, $expression, 33.333% );
			}

			@media all and ( max-width: 500px ) {
				$expression: "1/2 * ( 100% + #{$grid-col-gutter * 2}rem ) - #{$grid-col-gutter * 2}rem";
				@include calc( width, $expression, 50% );
			}

		}

	}

}