@mixin linklist() {

	margin: 0 0 #{$base-line-height / 2 }rem;
	padding: 0;
	list-style: none;

	li {
		display: block;
		padding: #{$base-line-height / 2 }rem 0;
		border-bottom: 1px solid $border-color-lt;
		margin-bottom: -1px;

		&:last-child {
			border-bottom: none;
			margin-bottom: 0;
		}
	}

	ul li {
		padding-top: 0;
		border: none;
		&:first-child {
			padding-top: #{$base-line-height / 2 }rem;
		}
	}

}

