.divider,
hr {
	border : 0;
	height : 1px;
	background : $border-color-lt 0 0  no-repeat;
	margin: px( $base-line-height  ) 0 px( $base-line-height / 2 );
	margin: rem( $base-line-height ) 0 rem( $base-line-height / 2 );
}