// Helper Functions

@function em( $EM ) {
	@return #{$EM}em;
}

// Helper Mixins

.alignleft { float: left; }
.alignright { float: right; }

@mixin clearfix {

	zoom: 1;
	clear: both;

	&:before,
	&::after {
		content: "";
		display: table;
	}
	&::after {
		clear: both;
	}

}
