img {

	max-width: 100%;
	height: auto;
	margin-bottom: px($base-line-height/2);
	margin-bottom: rem($base-line-height/2);
	vertical-align: top; 

	// Images in text always seem a little high as they are aligned to the top of the line height;
	position: relative;
	top: rem($base-line-height/4);

	&.aligncenter {
		clear: both;
		float: none;
		margin-left: auto;
		margin-right: auto;
	}

	&.alignleft {
		float: left;
		margin-right: px( $grid-col-gutter * 2 );
		margin-right: rem( $grid-col-gutter * 2 );
	}

	&.alignright {
		float: right;
		margin-left: px( $grid-col-gutter * 2 );
		margin-left: rem( $grid-col-gutter * 2 );
	}

	&.size-large, 
	&.attachment-large { 
		width: 100%;
	}
	
	&.size-medium,
	&.attachment-medium { 
		$expression: ".625 * ( 100% + #{rem( $grid-col-gutter * 2)} ) - #{rem( $grid-col-gutter * 2)}";
		@include calc( width, $expression, 62.5% );
	}

	&.size-thumbnail,
	&.attachment-thumbnail { 
		$expression: ".375 * ( 100% + #{rem( $grid-col-gutter * 2)} ) - #{rem( $grid-col-gutter * 2)}";
		@include calc( width, $expression, 37.5% );
	}	

	@media all and ( max-width: 700px ) {

		&.size-thumbnail,
		&.attachment-thumbnail,
		&.size-medium,
		&.attachment-medium { 
			$expression: ".5 * ( 100% + #{rem( $grid-col-gutter * 2)} ) - #{rem( $grid-col-gutter * 2)}";
			@include calc( width, $expression, 5% );
		}

	}

}
