/**
 *
 *	type.css Make sure everything is styled.
 *
 */

// Must set the font size on the HTML so that REMS can be used.
html {

	font-size: $base-font-size * 16px;
	line-height: $base-line-height;

	@media all and (min-width: 1200px ) {
		font-size: 1.125em;
	}

	@media all and (max-width: 800px ) {
		font-size: .875em;
	}

}

body {
	font-family: $base-font-family;
	font-size: inherit;
	line-height: inherit;
	color: #444;
	word-wrap: break-word;
}

@mixin alpha {
	$font-size: $base-font-size * 2.5;
	$line-height: ( $base-line-height * 2 ) / $font-size;

	font-size: #{ $font-size }rem;
	line-height: $line-height;
	margin: #{ $base-line-height  }rem 0 #{ $base-line-height * 1/2 }rem;
}

@mixin beta {
	$font-size: $base-font-size * 2;
	$line-height: $base-line-height * 2 / $font-size;

	font-size: #{ $font-size }rem;
	line-height: $line-height;
	margin: #{ $base-line-height }rem 0 #{ $base-line-height * 1/2 }rem;

}

@mixin gamma {
	$font-size: $base-font-size * 1.5;
	$line-height: $base-line-height * 1.5 / $font-size;

	font-size: #{ $font-size }rem;
	line-height: $line-height;
	margin: #{ $base-line-height  }rem 0 #{ $base-line-height * 1/2 }rem;
}

@mixin delta {
	$font-size: $base-font-size * 1.125;
	$line-height: $base-line-height / $font-size;

	font-size: #{ $font-size }rem;
	line-height: $line-height;
	margin: #{ $base-line-height * 2/3 }rem 0 #{ $base-line-height *  1/3 }rem;
}

@mixin epsilon {
	$font-size: $base-font-size;
	$line-height: $base-line-height;

	font-size: #{ $font-size }rem;
	line-height: $line-height;
	margin: #{ $base-line-height * 2/3 }rem 0 #{ $base-line-height *  1/3 }rem;
}

@mixin zeta {
	@include epsilon;
}

@mixin small {
	$font-size: $base-font-size * 0.875;
	$line-height: $base-line-height / $font-size;

	font-size: #{ $font-size }rem;
	line-height: $line-height;
}

p {

	margin-bottom: #{ $base-line-height / 2 }rem;

	&:empty {
		display: none;
	}
}

ul,
ol,
dl,
address {
	margin: 0 #{ $base-line-height }rem #{ $base-line-height / 2 }rem #{$base-line-height }rem;
}

li ul,
li ol {
	margin: 0 0 0 #{ $base-line-height }rem;
}

dl,
dd {
	margin-bottom: #{ $base-line-height / 2 }rem;
}

dt {
	font-weight: bold;
}

.heading,
h1, h2, h3,
h4, h5, h6 {
	color: #333;
	font-weight: bold;
}

.heading a,
h1 a, h2 a, h3 a,
h4 a, h5 a, h6 a {
	color: inherit;
	text-decoration: none;
}

h1, .alpha	 { @include alpha; }
h2, .beta    { @include beta; }
h3, .gamma   { @include gamma; }
h4, .delta   { @include delta; }
h5, .epsilon { @include epsilon; }
h6, .zeta    { @include zeta; }

/* Slightly smaller text in the sidebar */
.sidebar {

	font-size: #{ $secondary-font-size }rem;
	line-height: $base-line-height;

	color: #666;

	h1,
	h2,
	h3 {
		@include delta;
	}

	h4,
	h5,
	h6 {
		@include epsilon;
	}

}

/** Remove margin on top of first heading to fix excess whitespace. **/
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child { margin-top: 0 !important; }

small {
	font-size: $secondary-font-size;
	line-height: $base-line-height;
}

strong,
b {
	font-weight: bold;
}

em {
	font-style: italic;
}

blockquote,
.lead-text {
	$font-size: $base-font-size * 1.5;
	$line-height: $base-line-height * 1.5 / $font-size;

	font-size: #{ $font-size }rem;
	line-height: $line-height;
	margin: px( $base-line-height / 2 ) 0;
	margin: #{ $base-line-height / 2 }rem 0;

	font-style: italic;
	font-weight: 300;
}

blockquote {

	padding-left: #{ $grid-col-gutter }rem;
	margin-left: #{ $grid-col-gutter }rem;

	border-left: 1px solid $border-color-lt;

	p {
		font-size: 1em;
		margin-bottom: #{ $base-line-height / 2 }rem;
	}

}

figure.quote figcaption {

	margin: #{ -1 * $base-line-height / 2 }rem 0 #{ $base-line-height / 2 }rem  #{ $grid-col-gutter }rem;
	padding-top: #{ $base-line-height / 2 }rem;
	padding-left: #{ $grid-col-gutter }rem;
	border-left: 1px solid $border-color-lt;

}

pre,
code,
kbd,
tt,
samp {
	font-family: monospace, sans-serif;
}

pre {
	padding: #{ $base-line-height / 2 }rem 20px;
	margin-bottom:  #{ $base-line-height / 2 }rem;
	white-space: pre;
	white-space: pre-wrap; /* white-space: pre-line; CSS 3 (and 2.1 as well, actually) */
	word-wrap: break-word;
	border: 1px solid $border-color-lt;
	background: $bg-color-body;
}

ins {
	background-color: #ff9;
	color: #000;
	text-decoration:none;
}

mark {
	background-color: #ff9;
	color: #000;
	font-style:italic;
	font-weight:bold;
}

del {
	text-decoration: line-through;
}

abbr[title],
dfn[title],
acronym[title] {
	border-bottom:1px dotted;
	cursor:help;
}

sup {
	font-size: .5em;
	vertical-align: top;
}

sub {
	font-size: .5em;
	vertical-align: bottom;
}

/**
 * Tables
 */

table					{
	border-collapse: separate;
	border: 1px solid $border-color-lt;
	position: relative;
	margin: #{ $base-line-height / 2 }rem 0 #{ $base-line-height / 2 }rem;
	width: 100%;
	border-radius: 3px;
}

th,
td					{
	line-height: 1.5em;
	padding: 0.308em 14px 0.308em 10px;
	text-align:left;
}

td .num,
td .num {
	text-align:center;
}

table tbody th,
table td {
	border-top: 1px solid $border-color-lt;
	vertical-align: top;
}

table th + th,
td + td,
th + td {
	border-left: 1px solid $border-color-lt;
}

table tr:first-child td,
table tr:first-child th {
	border-top: none;
}

table thead tr:first-child th {
	border-bottom: 1px solid $border-color-lt;
}

table tfoot tr:first-child td {
	border-top: 1px solid $border-color-lt;
}

th {
	background: $bg-color-body;
	font-weight: bold;
}

caption {
	margin-bottom:0.75em;
	font-weight: bold;
}

small,
nav,
.site-footer {
	@include small;
	color: #666;
}

#baseline-grid {

	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;

	.baseline-grid-row {
		height: #{ $base-line-height / 2}rem;
		border-bottom: 1px solid rgba(0,255,255,0.5);
		margin-bottom: -1px;
		&:nth-child(odd) {
			border-bottom-color: rgba(0,255,255,0.25);
		}
	}

}

.admin-bar #baseline-grid {
	margin-top: 28px;
}
